# See https://caddyserver.com/docs

{
  email {$TLS_EMAIL}
}

www.{$DOMAIN_NAME} {
  redir https://{$DOMAIN_NAME}{uri}
}

{$DOMAIN_NAME} {
  header Strict-Transport-Security max-age=31536000;

  header -Server

  reverse_proxy flask-api:5000

  encode gzip

  log {
	  output stdout
  }
}